body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  margin: 35px auto;
  width: 90%;
}

.main-section {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.section-60 {
  width: 60%;
}

.section-40 {
  width: 40%;
  margin: auto;
}

.page-title {
  margin: 20px auto;
  text-align: center;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}