.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.container label {
  display: block;
  margin: 18px auto 5px auto;
  font-weight: bold;
}

.container textarea,
.container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-submit {
  background-color: #ff5757;
  margin: 10px auto 5px auto;
  padding: 10px;
  color: white;
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
  border: none;
  border-radius: 4px;
}

.btn-submit:hover {
  background-color: #ee5252;
}

.btn-secondary {
  background-color: gray;
}

.nav-button {
  border: 1px solid gray;
  width: 200px;
  margin: 20px;
  text-align: center  ;
}

.invalid-input {
  font-size: 14px;
  color: #d44040;
  margin: 5px 0;
}

.success {
  font-size: 14px;
  color: #3a9154;
  margin: 10px 0;
  text-align: center;
}

.profile {
  text-align: center;
}

.profile h2,
.profile strong {
  text-shadow: 3px 2px white;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-center {
  max-width: 600px;
  margin: auto;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 100px;
}