.logo {
  display: flex;
  align-items: center;
  background: #cfcfcf;
}

.logo img {
  width: 290px;
  height: 250px;
  margin-right: 10px;
}

.header-title {
  font-size: 68px;
  color: #000000;
  text-shadow: 3px 2px white;
  text-transform: capitalize;
}

.header-description {
  text-align: center;
  background-color: #bcb356;
}

.header-description p {
  font-size: 16px;
  color: #000000;
  margin: 0;
  padding: 10px;
  font-size: bold;
}

nav {
  background-color: #f1f1f1;
  padding: 15px 40px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #333;
  padding: 7px;
  border-radius: 4px;
}

a.active,
a:hover {
  background-color: #cfcfcf;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 15px 40px;
  font-size: 16px;
}