
.comment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-container {
  border: 1px solid gainsboro;
  border-radius: 6px;
  padding: 6px;
}

.incident-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.incident-image-container {
  width: min-content;
}

.incident-image {
  max-width: 200px;
  max-height: 200px;
}
