
.list-container {
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: 10px 20px;
  padding: 20px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  margin: auto;
}

.user-photo {
  width: 70px;
  height: 70px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 220px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  width: 50%;
}